.media { display: block; width: 100%; }
.preview, .preview:hover { padding: 0; background: transparent; display: block; width: 100%; }
.preview img, .preview video { display: block; width: 100%; height: auto; border-radius: 0.2em; }
.placeholder { width: 100%; padding: 5px 10px; background: var(--color-message-bg); border: 1px solid var(--color-orange); border-radius: 4px; font-size: 0.9em; color: var(--color-orange); text-align: center; }
.placeholder:hover { background: var(--color-message-hover); }
