.background {
  padding-top: 130px;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  background: var(--color-menu) var(--noise);
}
.content {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
.nav {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 56px;
  background: var(--color-button);
  box-shadow: 0 4px 5px var(--color-message-bg);
  z-index: 49;
  text-align: right;
}
.nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
}
.nav a:hover,
.nav .active {
  background: var(--color-button-accent);
}
@media (max-width: 540px) {
  .nav {
    text-align: center;
  }
  .nav a {
    padding: 0 var(--space-2);
  }
}
