.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding: 76px var(--space-3) var(--space-4);
  background: var(--color-menu) var(--noise);
  color: var(--color-text);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.message {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
.submessage {
  font-size: 1em;
  margin-bottom: 1em;
  white-space: pre-wrap;
}
.actions {
  display: flex;
  gap: 2.5em;
  flex-wrap: wrap;
  justify-content: center;
}
.actions a {
  color: var(--color-text);
}
